# Created by .ignore support plugin (hsz.mobi)
.gradle/
.idea/
gradle/
gradlew
gradlew.bat
rabbitmq.iml
reciever/build/tmp/compileJava/
reciever/src/test/
sender/build/tmp/compileJava/
sender/src/test/
